{% extends 'tienda/plantilla.html' %}
{% load static %}

{% block content %}
<!--Aqui comienza el contenido-->
  <h1 class="margen">SERVICIO AL CLIENTE</h1>
  <p>Servicio disponible de Lun - Vie: 9:00 AM a 9:00 PM y Sab : 10:00 AM a 6:00 PM</p>
  <div class="wsp-logo">
    <p><i class="fa-brands fa-whatsapp"></i></p>
    <p>Añade +56 2 1234 1234 a la lista de contactos en tu smartphone y comunícate con nosotros. </p>
    <p>Si necesitas ayuda a través de WhatsApp, por favor comunícate con nosotros al número +56 2 1234 1234.</p>
    <p> Recuerda que Z.S.A nunca iniciará la comunicación ni te buscará por este canal, solamente responderemos a tus mensajes.</p>
  </div>
  <br><br><br><br>
{% endblock %}