{% extends 'tienda/plantilla.html' %}
{% load static %}

{% block content %}
  <h1>Conviértete en Socio - Únete a Nuestra Red de Colaboradores</h1>
  <h3>En Zapatillas San Antonio, valoramos las relaciones sólidas y mutuamente beneficiosas con socios y colaboradores. Si compartes nuestra visión y estás interesado en formar parte de nuestra red de socios, ¡te invitamos a explorar las oportunidades disponibles y a convertirte en parte de nuestro éxito!</h3>
  <div class="terminos">
    <p><b>1. Nuestra Misión:</b> Conoce más sobre la misión y los valores que guían a Zapatillas San Antonio en su compromiso de proporcionar productos de calidad y experiencias excepcionales a nuestros clientes.</p>
    <p><b>2. Oportunidades de Colaboración:</b> Descubre las diferentes formas en que puedes colaborar con Zapatillas San Antonio, desde distribución y ventas hasta marketing y patrocinios. Explora las oportunidades de asociación disponibles y encuentra la que mejor se adapte a tus objetivos y capacidades.</p>
    <p><b>3. Beneficios de la Asociación:</b> Aprende sobre los beneficios de convertirte en socio de Zapatillas San Antonio, incluyendo acceso a productos exclusivos, soporte de marketing y promoción, y oportunidades de crecimiento mutuo.</p>
    <p><b>4. Requisitos y Proceso de Asociación:</b> Obtén información detallada sobre los requisitos y el proceso de asociación con Zapatillas San Antonio. Desde el registro inicial hasta la firma del contrato, te guiaremos a través de cada paso del proceso.</p>
    <p><b>5. Compromiso con la Calidad y la Integridad:</b> En Zapatillas San Antonio, nos comprometemos a mantener los más altos estándares de calidad y ética en todas nuestras asociaciones. Descubre cómo garantizamos la integridad y la transparencia en todas nuestras relaciones comerciales.</p>
    <p><b>6. Historias de Éxito de Socios:</b> Lee historias inspiradoras de otros socios que han colaborado con Zapatillas San Antonio y han logrado el éxito. Descubre cómo nuestra asociación ha contribuido a su crecimiento y desarrollo empresarial.</p>
    <p><b>7. Cómo Solicitar:</b> Si estás interesado en convertirte en socio de Zapatillas San Antonio, ¡nos encantaría saber de ti! Completa nuestro formulario de contacto en línea y uno de nuestros representantes de asociación se pondrá en contacto contigo para discutir las oportunidades disponibles.</p>
    <p><b>Únete a Zapatillas San Antonio y forma parte de una red de colaboradores comprometidos con la excelencia y el éxito mutuo. ¡Esperamos colaborar contigo pronto!</b></p>
  </div>
  <div class="correo">
    <p><i class="fa-regular fa-envelope"></i> Envianos un correo a socios@zapatillassanantonio.cl <i
        class="fa-regular fa-envelope"></i></p>
  </div>
{% endblock %}