{% extends 'tienda/plantilla.html' %}
{% load static %}

{% block content %}
    <h1>Devoluciones</h1>
    <h2 class="espacio">¿CÓMO PUEDO DEVOLVER MI PEDIDO?</h2>
    <div class="devolucion">
      <p>Antes de contactarnos  prepara la siguiente información:</p>
      <div class="pasos">
        <p>1.Verifica que el producto esté nuevo, sin uso, con su caja y/o envoltorio original, y con sus etiquetas sin haber sido desprendidas.</p>
        <p>2.Ten a la mano el Número de Pedido / Orden que encuentras en tu correo de confirmación</p>
        <p>3.Identifica el tipo de solicitud a ingresar:</p>
        <div class="espacio">
          <p>1.<b>Devolución: </b>deseas devolver el producto y solicitar el reembolso de tu dinero ya que este no fue de tu agrado.</p>
          <p>2.<b>Cambio: </b> deseas realizar un cambio de talla ya que el adquirido quedó muy grande/chico.</p>
        </div>
      <p>4. Ahora que tienes claro los requisitos e información relevante para devolver tus artículos. Inicia tu proceso de devolución:</p>
      <div class="espacio">
        <p>1.Autogestiona tu devolución:</p>
        <p>2.Comunícate con nuestro Centro de Atención  a Clientes  a través de cualquiera de nuestros canales.</p>
        <p>3.Acude a una Tienda física en San Antonio.</p>
      </div>
    </div>
    <br><br><br>
{% endblock %}