{% extends 'tienda/plantilla.html' %}
{% load static %}

{% block content %}
  <h1>Pasos Hacia un Futuro Sostenible</h1>
  <h3>En esta sección, Zapatillas San Antonio muestra su compromiso con la sustentabilidad y el cuidado del medio
    ambiente. Aquí encontrarás información sobre las iniciativas y prácticas sostenibles que la empresa está
    implementando para reducir su impacto ambiental y promover un futuro más verde.</h3>
  <div class="terminos">
    <p><b>1. Materiales Sostenibles:</b> Descubre cómo Zapatillas San Antonio está utilizando materiales sostenibles y
      ecológicos en la fabricación de sus productos, incluyendo opciones como algodón orgánico, cuero vegano y plásticos
      reciclados.</p>
    <p><b>2. Procesos de Producción Responsables:</b> Conoce los esfuerzos de Zapatillas San Antonio para reducir el
      consumo de energía, agua y recursos naturales en sus procesos de producción, así como la implementación de
      prácticas
      de fabricación responsable.</p>
    <p><b>3. Embalaje Eco-Amigable:</b> Aprende sobre los embalajes eco-amigables que Zapatillas San Antonio está
      utilizando, como materiales reciclables y biodegradables, así como estrategias para minimizar el desperdicio de
      embalajes.</p>
    <p><b>4. Programas de Reciclaje:</b> Explora los programas de reciclaje y reutilización que Zapatillas San Antonio
      está promoviendo, tanto a nivel interno como en colaboración con sus clientes y socios, para reducir la cantidad
      de
      residuos generados.</p>
    <p><b>5. Compromiso Social:</b> Descubre cómo Zapatillas San Antonio está contribuyendo al bienestar de las
      comunidades locales y globales a través de iniciativas sociales, como donaciones a organizaciones benéficas,
      programas de educación ambiental y apoyo a proyectos de desarrollo sostenible.</p>
    <p><b>6. Certificaciones y Reconocimientos:</b> Conoce las certificaciones y reconocimientos que Zapatillas San
      Antonio ha obtenido en el ámbito de la sustentabilidad, así como sus metas y compromisos futuros en este sentido.
    </p>
    <p><b>7. Participación del Cliente:</b> Únete a Zapatillas San Antonio en su viaje hacia un futuro más sostenible
      participando en programas de reciclaje, eligiendo productos eco-amigables y compartiendo tus ideas y sugerencias
      para mejorar la sustentabilidad de la empresa.</p>
    <p><b>Explora la pestaña de Sustentabilidad "Pasos Hacia un Futuro Sostenible" para conocer cómo Zapatillas San
        Antonio está liderando el camino hacia prácticas empresariales más responsables y contribuyendo a la
        preservación
        del medio ambiente para las generaciones futuras.</b></p>
  </div>
{% endblock %}