{% extends 'tienda/plantilla.html' %}
{% load static %}

{% block content %}
  <h1>Trabaja con Nosotros - Únete a Nuestro Equipo</h1>
  <h3>En Zapatillas San Antonio, creemos que nuestro equipo es nuestro activo más valioso. Si compartes nuestra pasión
    por la moda, el calzado y la excelencia en el servicio al cliente, ¡queremos conocerte! Descubre las emocionantes
    oportunidades de carrera disponibles y cómo puedes formar parte de nuestra familia Zapatillas San Antonio.</h3>
  <div class="terminos">
    <p><b>1. Nuestra Cultura:</b> Conoce más sobre la cultura y los valores que guían a Zapatillas San Antonio,
      incluyendo nuestro compromiso con la innovación, la integridad y el trabajo en equipo.</p>
    <p><b>2. Oportunidades de Empleo:</b> Explora las diferentes posiciones disponibles en Zapatillas San Antonio, desde
      ventas y atención al cliente hasta diseño de productos y gestión empresarial. Encuentra la oportunidad perfecta
      para ti y tu trayectoria profesional.</p>
    <p><b>3. Beneficios y Perks:</b> Descubre los beneficios y perks que ofrecemos a nuestro equipo, incluyendo
      descuentos en productos, oportunidades de desarrollo profesional, horarios flexibles y más.</p>
    <p><b>4. Proceso de Selección:</b> Aprende sobre nuestro proceso de selección de personal y cómo puedes prepararte
      para destacarte como candidato. Obtén consejos útiles para mejorar tu currículum, prepararte para entrevistas y
      destacar tus habilidades y experiencia.</p>
    <p><b>5. Cultura de Diversidad e Inclusión:</b> En Zapatillas San Antonio, valoramos la diversidad y la inclusión en
      nuestro lugar de trabajo. Descubre cómo promovemos un ambiente inclusivo donde todas las voces son escuchadas y
      respetadas.</p>
    <p><b>6. Testimonios de Empleados:</b> Lee testimonios reales de empleados actuales y anteriores sobre su
      experiencia trabajando en Zapatillas San Antonio. Descubre qué los hace sentirse orgullosos de formar parte de
      nuestro equipo y cómo han crecido profesionalmente con nosotros.</p>
    <p><b>7. Cómo Aplicar:</b> Obtén información sobre cómo enviar tu solicitud para unirse a Zapatillas San Antonio.
      Explora nuestros canales de reclutamiento y envía tu currículum para ser considerado para futuras oportunidades.
    </p>
    <p><b>Únete a Zapatillas San Antonio y sé parte de una empresa apasionante y en crecimiento que valora y recompensa
        el talento y el compromiso de su equipo. ¡Esperamos conocerte pronto!</b></p>
  </div>
  <div class="correo">
    <p><i class="fa-regular fa-envelope"></i> Envianos un correo a trabajo@zapatillassanantonio.cl <i
        class="fa-regular fa-envelope"></i></p>
  </div>
{% endblock %}